<%= form_with(model: bank_account) do |form| %>
  <% if bank_account.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% bank_account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label 'Valor Inicial', class: "form-label" %>
    <%= form.text_field :balance, class: "form-control" %>
  </div>

  <div class="mb-4">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>

  <div class="d-grid">
    <%= form.submit "Criar", class: "btn btn-primary" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    Inputmask("9", { repeat: 10 }).mask("#bank_account_balance");
  });
</script>