<div class="row justify-content-center mt-5">

  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="card shadow">
      <div class="card-title text-center border-bottom">
        <h2 class="p-3">Minhas Contas</h2>
      </div>

      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Conta</th>
              <th>Saldo</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @bank_accounts.each do |bank_account| %>
              <tr class="table-<%= bank_account.status ? "light" : "danger" %>">
                <td><%= bank_account.account_number %></td>
                <td><%= format_value_BRL(bank_account.balance) %></td>
                <td><%= bank_account.status ? "Ativada" : "Desativada" %></td>
                <td>
                  <div class="float-end">
                    <%= link_to 'Detalhes', bank_account, class: "btn btn-info" %>
                    <%= link_to bank_account.status ? "Encerrar conta" : "Ativar conta", 
                      change_status_bank_account_path(bank_account), 
                      method: :put, 
                      data: { confirm: 'Você tem certeza?' }, 
                      class: "btn btn-warning"
                    %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'Nova Conta', new_bank_account_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>