<div class="row justify-content-center mt-5">

  <div class="col-lg-5 col-md-10 col-sm-12 mb-3">
    <div class="card shadow">
      <div class="card-title text-center border-bottom">
        <h2 class="p-3">
          <strong>Conta:</strong>
          <%= @bank_account.account_number %>
        </h2>
      </div>

      <div class="card-body">
        <p>
          <strong>Saldo:</strong>
          <%= humanized_money_with_symbol @bank_account.balance %>
        </p>

        <p>
          <strong>Conta:</strong>
          <%= @bank_account.status === "active" ? "Ativa" : "Encerrada" %>
        </p>
        <div class="mt-4">
          <%= link_to 'Voltar', bank_accounts_path, class: "btn btn-primary" %>
          <%= link_to @bank_account.status === "active" ? "Encerrar conta" : "Ativar conta", 
            change_status_bank_account_path(@bank_account), 
            method: :put, data: { confirm: 'Você tem certeza?' }, class: "btn btn-warning" %>
          <% if @bank_account.status? && @bank_account.balance > 0 %>
            <%= link_to 'Nova Operação', new_transaction_path(:account_number => @bank_account.account_number),  {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#modal-window', class: 'btn btn-success', id: 'btnCallModal'}  %>
          <% end %>
        </div>
      </div>
      <div class="card-footer">
        <div class="col-12">
          <small class="text-muted">Criada em: <%= l @bank_account.created_at, format: :long %> - <%= time_ago_in_words @bank_account.created_at  %></small>
        </div>
        <% if @bank_account.status === "inactive"  %>
          <div class="col-12">
            <small class="text-muted">Encerrada em: <%= l @bank_account.updated_at, format: :long %> - <%= time_ago_in_words @bank_account.updated_at  %></small>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if !@transactions.empty? || params[:commit].present? %>
  <div class="col-lg-7 col-md-10 col-sm-12">
    <div class="card shadow">
      <div class="card-title text-center border-bottom">
        <h2 class="p-3">
          <strong>Historico de Transações</strong>
        </h2>
      </div>

      <div class="card-body">
        <%= form_with(url: bank_account_path, method: :get, :html => {:class => "d-flex"} ) do |f| %>  
          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight">
              <%= f.label 'Data inicial', class: "form-label" %>
              <%= f.text_field :start_date, data: {behavior: "flatpickr"} %>
            </div>
            <div class="p-2 bd-highlight">
              <%= f.label 'Data final', class: "form-label" %>
              <%= f.text_field :end_date, data: {behavior: "flatpickr"} %>
            </div>
            <div class="d-flex align-items-center mt-1">
              <%= f.submit "Buscar", class: "btn mt-4 btn-primary" %>
            </div>
          </div>
        <% end %>

        <table class="table">
          <thead>
            <tr>
              <th>Valor</th>
              <th>Tipo de Transação</th>
              <th>Taxa</th>
              <th>Data da Transação</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @transactions.each do |t| %>
              <tr>
                <td><%= humanized_money_with_symbol t.amount %></td>
                <td><%=  t.transaction_type == 'transfer' ? 'Transferência' : t.transaction_type == 'deposi' ? 'Deposito' : 'Saque' %></td>
                <td><%=  humanized_money_with_symbol t.fee %></td>
                <td><%=  l t.created_at, format: :long %></td>
              </tr>
            <% end %>
          </tbody>
      </div>
      <div class="card-footer">
        
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('input[name="commit"]').attr('disabled', true);
    $('input[type="date"]').change( function () {
        start_date = $('input[name="start_date"]').val(); 
        end_date = $('input[name="end_date"]').val();
        if (start_date != '' && end_date != '') {
            $('input[name="commit"]').attr('disabled', false);
        } else {
            $('input[name="commit"]').attr('disabled', true);
        }
    });

    // VALIDATE DATE
    
  });
</script>