<%= form_for @transaction, remote: true do |form| %>
  <% if @transaction.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label 'Qual tipo de operação?', class: "form-label" %>
    <%= form.select :transaction_type, options_for_select([['----------------', 'default'], ['Transferência', 'transfer'], ['Deposito', 'deposit'], ['Saque', 'withdraw']]), {}, { class: "form-select" } %>
  </div>
  
  <div class="mb-4 box-amount" style="display: none;">
    <%= form.label 'Valor', class: "form-label" %>
    <%= form.text_field :amount, maxlength: 16, class: "form-control" %>
  </div>

  <div class="mb-4 box-account" style="display: none;">
    <%= form.label 'Conta', class: "form-label" %>
    <%= form.select :bank_account_id, options_for_select(@accounts), {}, { class: "form-select" } %>
  </div>

  <div class="mb-4">
    <%= form.hidden_field :account_sender, value: "#{@account_number}" %>
  </div>

  <div class="mb-4">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
    <%= form.submit "Efetuar", class: "btn btn-success" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    balance = $("#transaction_amount").val()
    transaction_type = $("#transaction_transaction_type")
    account_number = "<%= @account_number %>"

    select_options = $("#transaction_bank_account_id option")

    transaction_type.on('change',function(){
      selected = $(this).val()

      if (selected === 'withdraw' || selected === 'deposit') {
        $('.box-amount').css('display', 'block')
        $('.box-account').css('display', 'none')

        select_options.filter(function() {
          if (this.text.includes(account_number)) {
            return this.text
          }
        }).attr('selected', true);
      }  
      
      if (selected === 'transfer') {
        $('.box-amount').css('display', 'block')
        $('.box-account').css('display', 'block')
      }
    })
    
    
    Inputmask("9", { repeat: 10 }).mask("#transaction_bank_account_id");
    
    Inputmask('currency',{
      "autoUnmask": true,
      radixPoint:",",
      groupSeparator: ".",
      allowMinus: false,
      prefix: 'R$ ',
      digits: 2,
      digitsOptional: false,
      rightAlign: true,
      unmaskAsNumber: true,
      removeMaskOnSubmit: true
    }).mask("#transaction_amount");
  
  })
</script>